<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TRACKING_ID</key>
	<string>UA-73027467-9</string>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>475321618051-gimkhgelr1er351opdl8u5ukcofu1t5m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.475321618051-gimkhgelr1er351opdl8u5ukcofu1t5m</string>
	<key>API_KEY</key>
	<string>AIzaSyBSvtRSkt3GG2GrC-Ub-H_iUmuIIn559W4</string>
	<key>GCM_SENDER_ID</key>
	<string>475321618051</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.spicyapps.batterysaverapp</string>
	<key>PROJECT_ID</key>
	<string>battery-saver-new-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>battery-saver-new-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:475321618051:ios:f4a2291c59962a08</string>
	<key>DATABASE_URL</key>
	<string>https://battery-saver-new-ios.firebaseio.com</string>
</dict>
</plist>
