<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>gameRecommencerButton</key>
	<dict>
		<key>value</key>
		<string>STARTA OM</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>notifBatterycharged</key>
	<dict>
		<key>value</key>
		<string>Batteri fulladdat</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>no</key>
	<dict>
		<key>value</key>
		<string>No</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>notifBatteryLow</key>
	<dict>
		<key>value</key>
		<string>Låg Batterinivå</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>notifTaptoboostyourphone</key>
	<dict>
		<key>value</key>
		<string>Klicka för att boosta din telefon</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>isCleaningEndDrive</key>
	<dict>
		<key>value</key>
		<string>Tillgängligt utrymme</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>statusListPhoneWifiUsed</key>
	<dict>
		<key>value</key>
		<string>ANVÄND WIFIDATA</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>bigPercentRemaining</key>
	<dict>
		<key>value</key>
		<string>ÅTERSTÅENDE</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>statusListPhoneDataUsed</key>
	<dict>
		<key>value</key>
		<string>ANVÄND TELEFONDATA</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>gameQuitButton</key>
	<dict>
		<key>value</key>
		<string>Quit</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>yes</key>
	<dict>
		<key>value</key>
		<string>Yes</string>
		<key>New item</key>
		<string></string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>2048Best</key>
	<dict>
		<key>value</key>
		<string>Best</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>gameContinueButton</key>
	<dict>
		<key>value</key>
		<string>Fortsätt</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>2048VictoryBody</key>
	<dict>
		<key>value</key>
		<string>You won !</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>2048VictoryTitle</key>
	<dict>
		<key>value</key>
		<string>Victory !</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>2048DefeatBody</key>
	<dict>
		<key>value</key>
		<string>You lost...</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>2048DefeatTitle</key>
	<dict>
		<key>value</key>
		<string>Defeat</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>leaveText</key>
	<dict>
		<key>value</key>
		<string>Är du säker på att du vill avsluta?</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>leavetitle</key>
	<dict>
		<key>value</key>
		<string>Avsluta ?</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>gameTextRestart</key>
	<dict>
		<key>value</key>
		<string>Vill du verkligen starta om ?</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>gameTitltrestart</key>
	<dict>
		<key>value</key>
		<string>Starta om ?</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>moreRateus</key>
	<dict>
		<key>value</key>
		<string>Betygsätt oss</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>moreFeedback</key>
	<dict>
		<key>value</key>
		<string>Återkoppling</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>moreSystem</key>
	<dict>
		<key>value</key>
		<string>System</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>morePlay</key>
	<dict>
		<key>value</key>
		<string>Play !</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>dataTotalDataUsed</key>
	<dict>
		<key>value</key>
		<string>Totalt använd data</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>dataTotalWifiUsed</key>
	<dict>
		<key>value</key>
		<string>Totalt använd wifi</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>dataTotalphonedataused</key>
	<dict>
		<key>value</key>
		<string>Totalt använd telefondata</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>isCleaningCleaning</key>
	<dict>
		<key>value</key>
		<string>Rensar</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>isCleaningMemoryUse</key>
	<dict>
		<key>value</key>
		<string>Minnesförbrukning</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>isCleaningClose</key>
	<dict>
		<key>value</key>
		<string>STÄNG</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>isCleaningCancel</key>
	<dict>
		<key>value</key>
		<string>AVBRYT</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>btn_boost</key>
	<dict>
		<key>value</key>
		<string>BOOST</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>memoryMemory</key>
	<dict>
		<key>value</key>
		<string>Minne</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>memoryClean</key>
	<dict>
		<key>value</key>
		<string>RENSA</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>memoryMemoryLeft</key>
	<dict>
		<key>value</key>
		<string>Ledigt minne</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>statusListSpaceLeft</key>
	<dict>
		<key>value</key>
		<string>LEDIGT UTRYMME</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>memoryHardDrive</key>
	<dict>
		<key>value</key>
		<string>Hårddisk</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>regPageHardDrive</key>
	<dict>
		<key>value</key>
		<string>Hårddisk</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>regPageSystem</key>
	<dict>
		<key>value</key>
		<string>System</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>regPageMore</key>
	<dict>
		<key>value</key>
		<string>Mer</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>regPageData</key>
	<dict>
		<key>value</key>
		<string>Data</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>regPageMemory</key>
	<dict>
		<key>value</key>
		<string>Minne</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>popup_game_new_title</key>
	<dict>
		<key>value</key>
		<string>Restart</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>popup_game_quit_title</key>
	<dict>
		<key>value</key>
		<string>Quit</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>restart</key>
	<dict>
		<key>value</key>
		<string>New</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>game_best_btn</key>
	<dict>
		<key>value</key>
		<string>Best</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>game_new_btn</key>
	<dict>
		<key>value</key>
		<string>Restart</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>game_quit_btn</key>
	<dict>
		<key>value</key>
		<string>Quit</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>dataReset</key>
	<dict>
		<key>value</key>
		<string>Återställ</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>statusListBoost</key>
	<dict>
		<key>value</key>
		<string>Boosta</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>regPageCharge</key>
	<dict>
		<key>value</key>
		<string>Ladda</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>regPageStatus</key>
	<dict>
		<key>value</key>
		<string>Status</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>tutoappuie</key>
	<dict>
		<key>value</key>
		<string>Klicka här</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>statusListPlay2048</key>
	<dict>
		<key>value</key>
		<string>SPELA 2048</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>clean_hd_cell</key>
	<dict>
		<key>value</key>
		<string>Clean</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>memorySpaceLeft</key>
	<dict>
		<key>value</key>
		<string>Ledigt utrymme</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>statusListHardDrive</key>
	<dict>
		<key>value</key>
		<string>HÅRDDISK</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>wifi_datarcv_data_cell</key>
	<dict>
		<key>value</key>
		<string>WIFI DATA RECEIVE</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>statusListDetails</key>
	<dict>
		<key>value</key>
		<string>DETALJER</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>phone_datarcv_data_cell</key>
	<dict>
		<key>value</key>
		<string>PHONE DATA RECEIVE</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>statusListMemoryUsed</key>
	<dict>
		<key>value</key>
		<string>ANVÄNT MINNE</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>statusListAvailable</key>
	<dict>
		<key>value</key>
		<string>TILLGÄNGLIG</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>smsText</key>
	<dict>
		<key>value</key>
		<string>Jag ökade precis min telefons batteritid med Battery Life! Testa den! http://apple.co/2hJO2HU</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>reamaining</key>
	<dict>
		<key>value</key>
		<string>Reamaining</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>notifBoostYourPhoneLifetime</key>
	<dict>
		<key>value</key>
		<string>Boosta din telefons livstid</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>notifTapeHeretoplay</key>
	<dict>
		<key>value</key>
		<string>Klicka här för att spela</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>notifFeeling2048</key>
	<dict>
		<key>value</key>
		<string>Känner du 2048?</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>app7</key>
	<dict>
		<key>value</key>
		<string>Stocks</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>app6</key>
	<dict>
		<key>value</key>
		<string>Messages</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>app5</key>
	<dict>
		<key>value</key>
		<string>Maps</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>app4</key>
	<dict>
		<key>value</key>
		<string>Safari</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>app3</key>
	<dict>
		<key>value</key>
		<string>Mail</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>app2</key>
	<dict>
		<key>value</key>
		<string>Photos</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>app1</key>
	<dict>
		<key>value</key>
		<string>Camera</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>app0</key>
	<dict>
		<key>value</key>
		<string>Notes</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>askforrateRemindMe</key>
	<dict>
		<key>value</key>
		<string>Påminn mig senare</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>askforratePos</key>
	<dict>
		<key>value</key>
		<string>Ge 5 stjärnor</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>askforrateNeg</key>
	<dict>
		<key>value</key>
		<string>Nej, jag gillar inte den här appen</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>askforrateText</key>
	<dict>
		<key>value</key>
		<string>Du verkar gilla Battery Life, låt oss veta vad du tycker och ge oss ett betyg!</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>askforrateTitle</key>
	<dict>
		<key>value</key>
		<string>Betygsätt den här appen</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>notifYourbatteryisnowcharged</key>
	<dict>
		<key>value</key>
		<string>Ditt batteri är nu fulladdat</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>notifbatrunninglow</key>
	<dict>
		<key>value</key>
		<string>Din batterinivå är låg, koppla in din laddare</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>disclaimerTitle</key>
	<dict>
		<key>value</key>
		<string>Förbehåll</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>disclaimerText</key>
	<dict>
		<key>value</key>
		<string>Varning: Skräprensning tar bort temporära filer från applikationer, vilket kan innehålla framsteg i spel och cache data. Vi\
 rekommenderar att enbart använda den här funktionen när diskutrymmet är allvarligt lågt, och rådgiver dig att säkerhetskopiera viktig data i förväg.</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>leaveCancel</key>
	<dict>
		<key>value</key>
		<string>Avbryt</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>clean_btn</key>
	<dict>
		<key>value</key>
		<string>Clean</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>isCleaningTimegained</key>
	<dict>
		<key>value</key>
		<string>Intjänad livstid</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>isCleaningFree</key>
	<dict>
		<key>value</key>
		<string>frisättning</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>offline</key>
	<dict>
		<key>value</key>
		<string>No ip address</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>cam_front</key>
	<dict>
		<key>value</key>
		<string>Camera Front</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>cam_back</key>
	<dict>
		<key>value</key>
		<string>Camera Back</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>reso</key>
	<dict>
		<key>value</key>
		<string>Resolution</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>size</key>
	<dict>
		<key>value</key>
		<string>Size</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>screen_size</key>
	<dict>
		<key>value</key>
		<string>Screen Size</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>battery</key>
	<dict>
		<key>value</key>
		<string>Battery</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>weight</key>
	<dict>
		<key>value</key>
		<string>Weight</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>cpu</key>
	<dict>
		<key>value</key>
		<string>CPU</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>data_sent</key>
	<dict>
		<key>value</key>
		<string>Total Data Sent</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>data_rcv</key>
	<dict>
		<key>value</key>
		<string>Total Data received</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>carrier_name</key>
	<dict>
		<key>value</key>
		<string>Carrier Name</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>ip_addr</key>
	<dict>
		<key>value</key>
		<string>IP Adress</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>model</key>
	<dict>
		<key>value</key>
		<string>Model</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>version</key>
	<dict>
		<key>value</key>
		<string>Version</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>device_name</key>
	<dict>
		<key>value</key>
		<string>Device Name</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>network_info</key>
	<dict>
		<key>value</key>
		<string>Network Information</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>hardware_spec</key>
	<dict>
		<key>value</key>
		<string>Hardware Specification</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>device_detail</key>
	<dict>
		<key>value</key>
		<string>Device Details</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>chargeyourabattery</key>
	<dict>
		<key>value</key>
		<string>Du är en BBattery Life-Mästare!</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>chargeYourphoneis</key>
	<dict>
		<key>value</key>
		<string>Din telefon är optimerad</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>chargeYoushouldclean</key>
	<dict>
		<key>value</key>
		<string>Du borde rensa ditt minne oftare</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>chargeIthasbeen</key>
	<dict>
		<key>value</key>
		<string>Det var ett tag sedan du använde Battery Life</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>chargeHealthScore</key>
	<dict>
		<key>value</key>
		<string>Optimeringspoäng</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>chargeOnCharge</key>
	<dict>
		<key>value</key>
		<string>Laddar</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>full</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Full Charge</string>
	</dict>
</dict>
</plist>
