<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>gameRecommencerButton</key>
	<dict>
		<key>value</key>
		<string>HERSTARTEN</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>notifBatterycharged</key>
	<dict>
		<key>value</key>
		<string>Batterij Opgeladen</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>no</key>
	<dict>
		<key>value</key>
		<string>No</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>notifBatteryLow</key>
	<dict>
		<key>value</key>
		<string>Batterij Bijna Leeg</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>notifTaptoboostyourphone</key>
	<dict>
		<key>value</key>
		<string>Klik om je telefoon te boosten</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>isCleaningEndDrive</key>
	<dict>
		<key>value</key>
		<string>Ruimte beschikbaar</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>statusListPhoneWifiUsed</key>
	<dict>
		<key>value</key>
		<string>GEBRUIKTE WIFI DATA</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>bigPercentRemaining</key>
	<dict>
		<key>value</key>
		<string>RESTEREND</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>statusListPhoneDataUsed</key>
	<dict>
		<key>value</key>
		<string>GEBRUIKTE TELEFOON DATA</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>gameQuitButton</key>
	<dict>
		<key>value</key>
		<string>Quit</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>yes</key>
	<dict>
		<key>value</key>
		<string>Yes</string>
		<key>New item</key>
		<string></string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>2048Best</key>
	<dict>
		<key>value</key>
		<string>Best</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>gameContinueButton</key>
	<dict>
		<key>value</key>
		<string>Doorgaan</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>2048VictoryBody</key>
	<dict>
		<key>value</key>
		<string>You won !</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>2048VictoryTitle</key>
	<dict>
		<key>value</key>
		<string>Victory !</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>2048DefeatBody</key>
	<dict>
		<key>value</key>
		<string>You lost...</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>2048DefeatTitle</key>
	<dict>
		<key>value</key>
		<string>Defeat</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>leaveText</key>
	<dict>
		<key>value</key>
		<string>Weet je zeker dat je wilt afsluiten ?</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>leavetitle</key>
	<dict>
		<key>value</key>
		<string>Afsluiten ?</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>gameTextRestart</key>
	<dict>
		<key>value</key>
		<string>Weet je zeker dat je wilt herstarten?</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>gameTitltrestart</key>
	<dict>
		<key>value</key>
		<string>Herstarten ?</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>moreRateus</key>
	<dict>
		<key>value</key>
		<string>Beoordeel Ons</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>moreFeedback</key>
	<dict>
		<key>value</key>
		<string>Feedback</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>moreSystem</key>
	<dict>
		<key>value</key>
		<string>Systeem</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>morePlay</key>
	<dict>
		<key>value</key>
		<string>Play !</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>dataTotalDataUsed</key>
	<dict>
		<key>value</key>
		<string>Totaal gebruikte data</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>dataTotalWifiUsed</key>
	<dict>
		<key>value</key>
		<string>Totaal gebruikte wifi</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>dataTotalphonedataused</key>
	<dict>
		<key>value</key>
		<string>Totaal gebruikte telefoon data</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>isCleaningCleaning</key>
	<dict>
		<key>value</key>
		<string>Opschonen</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>isCleaningMemoryUse</key>
	<dict>
		<key>value</key>
		<string>Geheugengebruik</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>isCleaningClose</key>
	<dict>
		<key>value</key>
		<string>SLUITEN</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>isCleaningCancel</key>
	<dict>
		<key>value</key>
		<string>ANULEER</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>btn_boost</key>
	<dict>
		<key>value</key>
		<string>BOOST</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>memoryMemory</key>
	<dict>
		<key>value</key>
		<string>Geheugen</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>memoryClean</key>
	<dict>
		<key>value</key>
		<string>OPSCHONEN</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>memoryMemoryLeft</key>
	<dict>
		<key>value</key>
		<string>Geheugen vrij</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>statusListSpaceLeft</key>
	<dict>
		<key>value</key>
		<string>RUIMTE BESCHIKBAAR</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>memoryHardDrive</key>
	<dict>
		<key>value</key>
		<string>Harddisk</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>regPageHardDrive</key>
	<dict>
		<key>value</key>
		<string>Harddisk</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>regPageSystem</key>
	<dict>
		<key>value</key>
		<string>Systeem</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>regPageMore</key>
	<dict>
		<key>value</key>
		<string>Meer</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>regPageData</key>
	<dict>
		<key>value</key>
		<string>Data</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>regPageMemory</key>
	<dict>
		<key>value</key>
		<string>Geheugen</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>popup_game_new_title</key>
	<dict>
		<key>value</key>
		<string>Restart</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>popup_game_quit_title</key>
	<dict>
		<key>value</key>
		<string>Quit</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>restart</key>
	<dict>
		<key>value</key>
		<string>New</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>game_best_btn</key>
	<dict>
		<key>value</key>
		<string>Best</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>game_new_btn</key>
	<dict>
		<key>value</key>
		<string>Restart</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>game_quit_btn</key>
	<dict>
		<key>value</key>
		<string>Quit</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>dataReset</key>
	<dict>
		<key>value</key>
		<string>Reset</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>statusListBoost</key>
	<dict>
		<key>value</key>
		<string>Boost</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>regPageCharge</key>
	<dict>
		<key>value</key>
		<string>Opladen</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>regPageStatus</key>
	<dict>
		<key>value</key>
		<string>Status</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>tutoappuie</key>
	<dict>
		<key>value</key>
		<string>Klik hier</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>statusListPlay2048</key>
	<dict>
		<key>value</key>
		<string>Speel 2048</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>clean_hd_cell</key>
	<dict>
		<key>value</key>
		<string>Clean</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>memorySpaceLeft</key>
	<dict>
		<key>value</key>
		<string>Ruimte Beschikbaar</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>statusListHardDrive</key>
	<dict>
		<key>value</key>
		<string>HARDDISK</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>wifi_datarcv_data_cell</key>
	<dict>
		<key>value</key>
		<string>WIFI DATA RECEIVE</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>statusListDetails</key>
	<dict>
		<key>value</key>
		<string>DETAILS</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>phone_datarcv_data_cell</key>
	<dict>
		<key>value</key>
		<string>PHONE DATA RECEIVE</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>statusListMemoryUsed</key>
	<dict>
		<key>value</key>
		<string>GEBRUIKT GEHEUGEN</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>statusListAvailable</key>
	<dict>
		<key>value</key>
		<string>BESCHIKBAAR</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>smsText</key>
	<dict>
		<key>value</key>
		<string>Ik heb zojuist de levensduur van de batterij van mijn telefoon vergroot met Battery Life! Probeer het ! http://apple.co/2hJO2HU</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>reamaining</key>
	<dict>
		<key>value</key>
		<string>Reamaining</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>notifBoostYourPhoneLifetime</key>
	<dict>
		<key>value</key>
		<string>Boost je telefoon levensduur</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>notifTapeHeretoplay</key>
	<dict>
		<key>value</key>
		<string>Klik hier om te spelen</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>notifFeeling2048</key>
	<dict>
		<key>value</key>
		<string>Zin om 2048 te spelen?</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>app7</key>
	<dict>
		<key>value</key>
		<string>Stocks</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>app6</key>
	<dict>
		<key>value</key>
		<string>Messages</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>app5</key>
	<dict>
		<key>value</key>
		<string>Maps</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>app4</key>
	<dict>
		<key>value</key>
		<string>Safari</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>app3</key>
	<dict>
		<key>value</key>
		<string>Mail</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>app2</key>
	<dict>
		<key>value</key>
		<string>Photos</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>app1</key>
	<dict>
		<key>value</key>
		<string>Camera</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>app0</key>
	<dict>
		<key>value</key>
		<string>Notes</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>askforrateRemindMe</key>
	<dict>
		<key>value</key>
		<string>Herinner me later</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>askforratePos</key>
	<dict>
		<key>value</key>
		<string>Beoordeel 5 sterren</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>askforrateNeg</key>
	<dict>
		<key>value</key>
		<string>Nee, ik vind deze app niet leuk</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>askforrateText</key>
	<dict>
		<key>value</key>
		<string>Het lijkt erop dat je Battery Life leuk vindt, laat ons weten wat je ervan vindt en beoordeel ons!</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>askforrateTitle</key>
	<dict>
		<key>value</key>
		<string>Beoordeel deze app</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>notifYourbatteryisnowcharged</key>
	<dict>
		<key>value</key>
		<string>Je batterij is nu opgeladen</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>notifbatrunninglow</key>
	<dict>
		<key>value</key>
		<string>Je batterij is bijna leeg, verbind met de oplader</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>disclaimerTitle</key>
	<dict>
		<key>value</key>
		<string>Vrijwaring</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>disclaimerText</key>
	<dict>
		<key>value</key>
		<string>Waarschuwing: Junk Cleaning zal een aantal tijdelijke bestanden van applicaties verwijderen, daaronder kan zich spelvoortgang en cache data bevinden. We raden deze optie alleen aan als de schijfruimte zeer laag is, en raden aan om eerst een backup van belangrijke data te maken.</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>leaveCancel</key>
	<dict>
		<key>value</key>
		<string>Annuleer</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>clean_btn</key>
	<dict>
		<key>value</key>
		<string>Clean</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>isCleaningTimegained</key>
	<dict>
		<key>value</key>
		<string>Levenslang verdiend</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>isCleaningFree</key>
	<dict>
		<key>value</key>
		<string>Vrij</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>offline</key>
	<dict>
		<key>value</key>
		<string>No ip address</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>cam_front</key>
	<dict>
		<key>value</key>
		<string>Camera Front</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>cam_back</key>
	<dict>
		<key>value</key>
		<string>Camera Back</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>reso</key>
	<dict>
		<key>value</key>
		<string>Resolution</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>size</key>
	<dict>
		<key>value</key>
		<string>Size</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>screen_size</key>
	<dict>
		<key>value</key>
		<string>Screen Size</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>battery</key>
	<dict>
		<key>value</key>
		<string>Battery</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>weight</key>
	<dict>
		<key>value</key>
		<string>Weight</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>cpu</key>
	<dict>
		<key>value</key>
		<string>CPU</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>data_sent</key>
	<dict>
		<key>value</key>
		<string>Total Data Sent</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>data_rcv</key>
	<dict>
		<key>value</key>
		<string>Total Data received</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>carrier_name</key>
	<dict>
		<key>value</key>
		<string>Carrier Name</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>ip_addr</key>
	<dict>
		<key>value</key>
		<string>IP Adress</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>model</key>
	<dict>
		<key>value</key>
		<string>Model</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>version</key>
	<dict>
		<key>value</key>
		<string>Version</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>device_name</key>
	<dict>
		<key>value</key>
		<string>Device Name</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>network_info</key>
	<dict>
		<key>value</key>
		<string>Network Information</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>hardware_spec</key>
	<dict>
		<key>value</key>
		<string>Hardware Specification</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>device_detail</key>
	<dict>
		<key>value</key>
		<string>Device Details</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>chargeyourabattery</key>
	<dict>
		<key>value</key>
		<string>Je bent een Battery Life Meester !</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>chargeYourphoneis</key>
	<dict>
		<key>value</key>
		<string>Je telefoon is gezond</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>chargeYoushouldclean</key>
	<dict>
		<key>value</key>
		<string>Je zou je geheugen vaker moeten opschonen</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>chargeIthasbeen</key>
	<dict>
		<key>value</key>
		<string>Het is alweer een tijdje geleden dat je Battery Life hebt gebruikt</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>chargeHealthScore</key>
	<dict>
		<key>value</key>
		<string>Gezondheidsscore</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>chargeOnCharge</key>
	<dict>
		<key>value</key>
		<string>Laden</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>full</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Full Charge</string>
	</dict>
</dict>
</plist>
