<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>gameRecommencerButton</key>
	<dict>
		<key>value</key>
		<string>RECOMMENCER</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>notifBatterycharged</key>
	<dict>
		<key>value</key>
		<string>Batterie Pleine</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>no</key>
	<dict>
		<key>value</key>
		<string>Non</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>notifBatteryLow</key>
	<dict>
		<key>value</key>
		<string>Batterie faible</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>notifTaptoboostyourphone</key>
	<dict>
		<key>value</key>
		<string>Appuyez ici pour pour booster votre smartphone</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>isCleaningEndDrive</key>
	<dict>
		<key>value</key>
		<string>Espace disponible</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>statusListPhoneWifiUsed</key>
	<dict>
		<key>value</key>
		<string>DONNÉE WIFI UTILISÉE</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>bigPercentRemaining</key>
	<dict>
		<key>value</key>
		<string>Restant</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>statusListPhoneDataUsed</key>
	<dict>
		<key>value</key>
		<string>DONNÉE MOBILE UTILISÉE</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>yes</key>
	<dict>
		<key>value</key>
		<string>Oui</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>gameQuitButton</key>
	<dict>
		<key>value</key>
		<string>Quitter</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>2048Best</key>
	<dict>
		<key>value</key>
		<string>Meilleur</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>gameContinueButton</key>
	<dict>
		<key>value</key>
		<string>Continuer</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>2048VictoryTitle</key>
	<dict>
		<key>value</key>
		<string>Victoire !</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>2048VictoryBody</key>
	<dict>
		<key>value</key>
		<string>Tu as gagné !</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>2048DefeatBody</key>
	<dict>
		<key>value</key>
		<string>Vous avez perdu</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>2048DefeatTitle</key>
	<dict>
		<key>value</key>
		<string>Défaite</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>leaveText</key>
	<dict>
		<key>value</key>
		<string>Voulez-vous vraiment quitter ?</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>leavetitle</key>
	<dict>
		<key>value</key>
		<string>Quitter ?</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>gameTextRestart</key>
	<dict>
		<key>value</key>
		<string>Êtes-vous sûr de vouloir recommencer la partie ?</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>gameTitltrestart</key>
	<dict>
		<key>value</key>
		<string>Recommencer ?</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>moreRateus</key>
	<dict>
		<key>value</key>
		<string>Notez l&apos;app</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>moreFeedback</key>
	<dict>
		<key>value</key>
		<string>Suggestions</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>moreSystem</key>
	<dict>
		<key>value</key>
		<string>Système</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>morePlay</key>
	<dict>
		<key>value</key>
		<string>Jouer !</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>dataTotalphonedataused</key>
	<dict>
		<key>value</key>
		<string>Données totales utilisées</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>dataTotalWifiUsed</key>
	<dict>
		<key>value</key>
		<string>Données wifi utilisées</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>dataTotalDataUsed</key>
	<dict>
		<key>value</key>
		<string>Données mobiles utilisées</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>isCleaningCleaning</key>
	<dict>
		<key>value</key>
		<string>Nettoyage</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>isCleaningMemoryUse</key>
	<dict>
		<key>value</key>
		<string>Mémoire utilisée</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>isCleaningCancel</key>
	<dict>
		<key>value</key>
		<string>ANNULER</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>isCleaningClose</key>
	<dict>
		<key>value</key>
		<string>FERMER</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>memoryHardDrive</key>
	<dict>
		<key>value</key>
		<string>Disque dur</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>memorySpaceLeft</key>
	<dict>
		<key>value</key>
		<string>Espace disponible</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>memoryMemoryLeft</key>
	<dict>
		<key>value</key>
		<string>Mémoire disponible</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>memoryClean</key>
	<dict>
		<key>value</key>
		<string>Nettoyer</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>memoryMemory</key>
	<dict>
		<key>value</key>
		<string>Mémoire</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>regPageHardDrive</key>
	<dict>
		<key>value</key>
		<string>Disque Dur</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>regPageSystem</key>
	<dict>
		<key>value</key>
		<string>Système</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>regPageMore</key>
	<dict>
		<key>value</key>
		<string>Plus</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>regPageData</key>
	<dict>
		<key>value</key>
		<string>Données</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>regPageMemory</key>
	<dict>
		<key>value</key>
		<string>Mémoire</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>game_quit_btn</key>
	<dict>
		<key>value</key>
		<string>Quitter</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>game_new_btn</key>
	<dict>
		<key>value</key>
		<string>Redémarrer</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>game_best_btn</key>
	<dict>
		<key>value</key>
		<string>Meilleur</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>restart</key>
	<dict>
		<key>value</key>
		<string>Restart</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>popup_game_quit_title</key>
	<dict>
		<key>value</key>
		<string>Quitter</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>popup_game_new_title</key>
	<dict>
		<key>value</key>
		<string>Redémarrer</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>dataReset</key>
	<dict>
		<key>value</key>
		<string>Réinitialiser</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>btn_boost</key>
	<dict>
		<key>value</key>
		<string>BOOSTE</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>regPageCharge</key>
	<dict>
		<key>value</key>
		<string>Charge</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>regPageStatus</key>
	<dict>
		<key>value</key>
		<string>Statut</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>tutoappuie</key>
	<dict>
		<key>value</key>
		<string>Appuyez ici</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>statusListPlay2048</key>
	<dict>
		<key>value</key>
		<string>Jouer à 2048</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>statusListHardDrive</key>
	<dict>
		<key>value</key>
		<string>DISQUE DUR</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>statusListSpaceLeft</key>
	<dict>
		<key>value</key>
		<string>Espace disponible</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>clean_hd_cell</key>
	<dict>
		<key>value</key>
		<string>Nettoyer</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>wifi_datarcv_data_cell</key>
	<dict>
		<key>value</key>
		<string>DONNÉE WIFI UTILISÉE</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>phone_datarcv_data_cell</key>
	<dict>
		<key>value</key>
		<string>DONNÉE MOBILE UTILISÉE</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>statusListDetails</key>
	<dict>
		<key>value</key>
		<string>Détail</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>statusListBoost</key>
	<dict>
		<key>value</key>
		<string>Booste</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>statusListMemoryUsed</key>
	<dict>
		<key>value</key>
		<string>MÉMOIRE UTILISÉ</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>statusListAvailable</key>
	<dict>
		<key>value</key>
		<string>Disponible</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>smsText</key>
	<dict>
		<key>value</key>
		<string>Je viens d’augmenter la durée de vie de ma batterie avec Battery Life ! http://apple.co/2hJO2HU</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>reamaining</key>
	<dict>
		<key>value</key>
		<string>Temps restant</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>notifBoostYourPhoneLifetime</key>
	<dict>
		<key>value</key>
		<string>Boostez la durée de vie de votre smartphone</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>notifTapeHeretoplay</key>
	<dict>
		<key>value</key>
		<string>Appuyez ici pour jouer</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>notifFeeling2048</key>
	<dict>
		<key>value</key>
		<string>On se fait un petit 2048 ?</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>app7</key>
	<dict>
		<key>value</key>
		<string>Bourse</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>app0</key>
	<dict>
		<key>value</key>
		<string>Notes</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>app1</key>
	<dict>
		<key>value</key>
		<string>Appareil photo</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>app2</key>
	<dict>
		<key>value</key>
		<string>Photos</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>app3</key>
	<dict>
		<key>value</key>
		<string>Mail</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>app4</key>
	<dict>
		<key>value</key>
		<string>Safari</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>app5</key>
	<dict>
		<key>value</key>
		<string>Plans</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>app6</key>
	<dict>
		<key>value</key>
		<string>Messages</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>askforrateTitle</key>
	<dict>
		<key>value</key>
		<string>Noter L’app</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>askforrateText</key>
	<dict>
		<key>value</key>
		<string>Vous Aimez Battery Life ? Dîtes nous ce que vous en pensez et notez l’app !</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>askforrateNeg</key>
	<dict>
		<key>value</key>
		<string>Non je n’aime pas cette app</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>askforratePos</key>
	<dict>
		<key>value</key>
		<string>Noter 5 étoiles</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>askforrateRemindMe</key>
	<dict>
		<key>value</key>
		<string>Demandez moi plus tard</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>notifbatrunninglow</key>
	<dict>
		<key>value</key>
		<string>Niveau de batterie faible, brancher votre chargeur</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>notifYourbatteryisnowcharged</key>
	<dict>
		<key>value</key>
		<string>Votre batterie est chargée</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>clean_btn</key>
	<dict>
		<key>value</key>
		<string>Nettoyer</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>leaveCancel</key>
	<dict>
		<key>value</key>
		<string>Annuler</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>disclaimerText</key>
	<dict>
		<key>value</key>
		<string>Attention: Le nettoyage va supprimer plusieurs fichiers temporaires qui pourraient inclure des sauvegardes de jeux et des données en cache. Nous vous recommendons d&apos;utiliser cette fonctionnalité uniquement quand votre espace disque est saturé.</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>disclaimerTitle</key>
	<dict>
		<key>value</key>
		<string>Avertissement</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>isCleaningTimegained</key>
	<dict>
		<key>value</key>
		<string>Temps gagné</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>isCleaningFree</key>
	<dict>
		<key>value</key>
		<string>Libérés</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>offline</key>
	<dict>
		<key>value</key>
		<string>Aucune Adresse ip</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>device_name</key>
	<dict>
		<key>value</key>
		<string>Nom de l&apos;appareil</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>version</key>
	<dict>
		<key>value</key>
		<string>Version</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>model</key>
	<dict>
		<key>value</key>
		<string>Modèle</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>ip_addr</key>
	<dict>
		<key>value</key>
		<string>Adresse IP</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>carrier_name</key>
	<dict>
		<key>value</key>
		<string>Opérateur</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>data_rcv</key>
	<dict>
		<key>value</key>
		<string>Données totale reçus</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>data_sent</key>
	<dict>
		<key>value</key>
		<string>Données totale envoyés</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>cpu</key>
	<dict>
		<key>value</key>
		<string>CPU</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>weight</key>
	<dict>
		<key>value</key>
		<string>Poid</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>battery</key>
	<dict>
		<key>value</key>
		<string>Batterie</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>screen_size</key>
	<dict>
		<key>value</key>
		<string>Taille d&apos;écran</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>size</key>
	<dict>
		<key>value</key>
		<string>Taille</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>reso</key>
	<dict>
		<key>value</key>
		<string>Résolution</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>cam_back</key>
	<dict>
		<key>value</key>
		<string>Caméra Arrière</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>cam_front</key>
	<dict>
		<key>value</key>
		<string>Caméra Avant</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>device_detail</key>
	<dict>
		<key>value</key>
		<string>Détail de l&apos;appareil</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>network_info</key>
	<dict>
		<key>value</key>
		<string>Information Réseau</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>hardware_spec</key>
	<dict>
		<key>value</key>
		<string>Détail des Composants</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>chargeyourabattery</key>
	<dict>
		<key>value</key>
		<string>Vous savez prendre soin de votre smartphone</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>chargeYourphoneis</key>
	<dict>
		<key>value</key>
		<string>Votre smartphone est en tres bonne santé</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>chargeYoushouldclean</key>
	<dict>
		<key>value</key>
		<string>Vous devriez nettoyez votre mémoire plus souvent</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>chargeIthasbeen</key>
	<dict>
		<key>value</key>
		<string>Du temps est passé depuis votre dernière utilisation</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>chargeHealthScore</key>
	<dict>
		<key>value</key>
		<string>Niveau de santé</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>chargeOnCharge</key>
	<dict>
		<key>value</key>
		<string>En Charge</string>
		<key>comment</key>
		<string></string>
	</dict>
	<key>full</key>
	<dict>
		<key>comment</key>
		<string></string>
		<key>value</key>
		<string>Batterie chargé</string>
	</dict>
</dict>
</plist>
